@use "@/styles/variables.scss" as tokens;

.chatWrapper {
  width: 100%;
  background: tokens.$background;
  display: flex;
  overflow: auto;
  max-width: 800px;
  max-height: 650px;
  margin-top: 1.5rem;
  padding: 0 0.5rem;
  box-sizing: border-box;
  scrollbar-color: tokens.$border transparent;
  flex-direction: column;
}
