@use "@/styles/theme" as theme;

.chatMessage {
  width: fit-content;
  padding: 0.35rem 0.5rem;
  display: flex;
  max-width: min(75%, 32rem);
  margin-top: 0.75rem;
  background: theme.$accent;
  box-sizing: border-box;
  border-radius: 0.4rem;
  flex-direction: column;

  p {
    overflow-wrap: anywhere;
  }

  footer {
    gap: 0.25rem;
    display: flex;
    margin-top: 0.15rem;
    align-items: center;
    align-self: flex-end;
  }

  time,
  .readReceipt {
    opacity: 0.7;
    font-size: 0.75rem;
  }

  .readReceipt {
    gap: 0;
    display: inline-flex;
    letter-spacing: -0.15rem;

    &.read {
      opacity: 0.9;
    }
  }

  &.grouped {
    margin-top: 0.25rem;
  }

  &.own,
  &.interlocutor {
    margin-left: auto;
  }
}
