@use "@/styles/theme.scss" as theme;
@use "@/styles/mixins.scss" as mixins;

.chatView {
  display: grid;
  position: relative;
  background: theme.$chatBG;
  place-items: center;

  &::after {
    inset: 0;
    content: '';
    opacity: 0.3;
    position: absolute;
    background-size: contain;
    background-image: url('@/assets/images/chatBG.png');
    background-repeat: no-repeat;
    background-position: center;
  }
}