@use "@/styles/theme.scss" as theme;
@use "@/styles/mixins.scss" as mixins;

.loginView {
  @include mixins.echoCard;

  gap: 2.5rem;
  width: fit-content;
  display: flex;
  transform: rotate(-8deg);
  flex-direction: column;

  header {
    h1 {
      text-align: center;
    }
  }

  main {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
  }

  footer {
    p {
      text-align: center;
    }
  }
}