@use "@/styles/variables.scss" as tokens;

button {
  width: 100%;
  color: tokens.$primary-foreground;
  cursor: pointer;
  border: 1px solid transparent;
  position: relative;
  background: tokens.$primary;
  transition: all 0.25s ease;
  border-radius: 0.5rem;

  span {
    color: inherit;
    font-weight: bold;
  }

  &[data-size='sm'] {
    padding: 0.3rem;
  }

  &[data-size='md'] {
    padding: 0.5rem;
  }

  &[data-size='lg'] {
    padding: 0.8rem;
  }

  &[data-variant='default'] {
    border-color: tokens.$primary;
  }

  &:hover:not(:disabled) {
    background: color-mix(in srgb, tokens.$primary 85%, tokens.$background);
  }

  &:disabled {
    color: tokens.$muted-foreground;
    cursor: not-allowed;
    border-color: tokens.$border;
    background: tokens.$muted;
  }
}
