@use "@/styles/theme.scss" as theme;

input {
  width: 100%;
  height: 100%;
  border: none;
  outline: 1px solid transparent;
  position: relative;
  transition: all 0.25s ease;
  border-radius: 0.5rem;

  &[data-size='sm'] {
    padding: 0.3rem;
  }

  &[data-size='md'] {
    padding: 0.5rem;
  }

  &[data-size='lg'] {
    padding: 0.8rem;
  }

  &[data-variant='default'] {
    outline: 1px solid theme.$inputBorder;
  }

  &:focus:not(:disabled) {
    outline: 1px solid theme.$inputHoverBorder;
  }
}