@use "@/styles/theme.scss" as theme;

.sidebarChat {
  display: flex;
  cursor: pointer;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;

  img {
    width: 3.5rem;
    margin-right: 0.5rem;
  }

  section {
    width: 100%;
    overflow: hidden;

    p {
      gap: 0.5rem;
      display: flex;
      white-space: nowrap;
      justify-content: space-between;

      .message {
        overflow: hidden;
        margin-right: 1rem;
        text-overflow: ellipsis;
      }

      .status {
        margin-right: 0.3rem;
      }
    }
  }

  &.active {
    background: theme.$sidebarUserHover;
  }

  &:hover {
    background: theme.$sidebarUserHover;
  }
}