@use "@/styles/theme.scss" as theme;

@mixin echoBar {
  width: 0.8rem;
  animation: signal 2s ease-in-out infinite;
  background: theme.$accent;
  border-radius: 2px;

  &:nth-child(1) {
    height: 10px;
  }

  &:nth-child(2) {
    height: 20px;
    animation-delay: 0.2s;
  }

  &:nth-child(3) {
    height: 30px;
    animation-delay: 0.4s;
  }

  &:nth-child(4) {
    height: 40px;
    animation-delay: 0.6s;
  }
}

@keyframes signal {
  0%, 100% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }
}