@use "@/styles/theme" as theme;

@mixin echoDot {
  width: 8px;
  height: 8px;
  display: inline-block;
  animation: blink 1.8s ease-in-out infinite;
  background: #FF4757;
  border-radius: 50%;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}