@use "@/styles/theme.scss" as theme;

body {
  min-height: 100dvh;
  background: theme.$globalBG;

  #app {
    width: 100%;
    margin: auto;
    font-size: 1rem;
    max-width: 1200px;
    min-height: 100dvh;
    line-height: 1.5;
    font-family: 'JetBrains Mono', monospace;

    input {
      width: 100%;
      height: 100%;
      border: none;
      outline: 1px solid transparent;
      position: relative;
      transition: all 0.25s ease;
      border-radius: 0.5rem;

      &[data-size='sm'] {
        padding: 0.3rem;
      }

      &[data-size='md'] {
        padding: 0.5rem;
      }

      &[data-size='lg'] {
        padding: 0.8rem;
      }

      &[data-variant='default'] {
        outline: 1px solid theme.$inputBorder;
      }

      &:focus:not(:disabled) {
        outline: 1px solid theme.$inputHoverBorder;
      }
    }

    button {
      width: 100%;
      cursor: pointer;
      position: relative;
      transition: all 0.25s ease;

      span {
        font-weight: bold;
      }

      &[data-size='sm'] {
        padding: 0.3rem;
      }

      &[data-size='md'] {
        padding: 0.5rem;
      }

      &[data-size='lg'] {
        padding: 0.8rem;
      }

      &[data-variant='default'] {
        border: 1px solid theme.$buttonBorder;
        background: theme.$buttonBG;
        border-radius: 0.5rem;
      }

      &:hover:not(:disabled) {
        border: 1px solid theme.$buttonHoverBorder;
        background: theme.$buttonHover;
      }

      &:disabled {
        cursor: not-allowed;
        background: theme.$buttonDisabledBG;
      }
    }
  }
}