@use "@/styles/theme.scss" as theme;

body {
  background: theme.$globalBG;

  #app {
    height: 100dvh;
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'JetBrains Mono', monospace;
  }
}