@use "@/styles/theme.scss" as theme;

body {
  background: theme.$globalBG;

  #app {
    height: 100dvh;
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'JetBrains Mono', monospace;

    button {
      cursor: pointer;
      transition: all 0.25s ease;

      &:hover:not(:disabled) {
        border: 1px solid theme.$buttonHoverBorder;
        background: theme.$buttonHover;
      }

      &:disabled {
        cursor: not-allowed;
        background: theme.$buttonDisabledBG;
      }
    }
  }
}