@use "@/styles/theme.scss" as theme;

body {
  height: 100dvh;
  overflow: hidden;
  background: theme.$globalBG;

  #app {
    font-size: 1rem;
    min-height: 100dvh;
    line-height: 1.5;
    font-family: 'JetBrains Mono', monospace;
  }
}