@use "@/styles/variables.scss" as tokens;

.messageWrapper {
  top: 10%;
  gap: 0.5rem;
  z-index: 999;
  display: flex;
  position: fixed;
  max-width: 55rem;
  align-items: center;
  inset-inline: 0;
  margin-inline: auto;
  flex-direction: column-reverse;

  .message {
    color: tokens.$foreground;
    margin: 0 0.5rem;
    border: 1px solid tokens.$border;
    padding: 0.45rem 0.65rem;
    box-sizing: border-box;
    background: tokens.$toast;
    border-radius: tokens.$radius;
    backdrop-filter: blur(10px);

    &.clickable {
      cursor: pointer;
    }

    strong {
      color: tokens.$foreground;
    }

    p {
      color: tokens.$muted-foreground;
      font-size: 0.85rem;
    }

    &.error {
      border-color: tokens.$destructive;
    }

    &.warning {
      border-color: tokens.$warning;
    }

    &.success {
      border-color: tokens.$success;
    }

    &.neutral {
      border-color: tokens.$primary;
    }
  }
}
