@keyframes echo {
  0% {
    opacity: 0.45;
    transform: scale(1) rotate(0.0001deg);
  } 60% {
    opacity: 0.10;
  } 100% {
    opacity: 0;
    transform: scale(1.75) rotate(0.0001deg);
  }
}

@keyframes signal {
  0%, 100% {
    opacity: 0.3;
  } 50% {
    opacity: 1;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  } 50% {
    opacity: 0;
  }
}
