@forward "@/styles/root.scss";
@forward "@/styles/theme.scss";
@forward "@/styles/mixins.scss";

  // Global defaults
@use "@/styles/base/reset.scss";
@use "@/styles/base/defaults.scss";

  // Layouts
@use "@/styles/layouts/authLayout.scss";
@use "@/styles/layouts/defaultLayout.scss";

  // Views
@use "@/styles/views/loginView.scss";
@use "@/styles/views/indexView.scss";
@use "@/styles/views/errorView.scss";

  // Components
    // Layout
@use "@/styles/components/layout/SidebarComponent.scss";

    // UI
@use "@/styles/components/ui/toastComponent.scss";
@use "@/styles/components/ui/inputComponent.scss";