@forward "@/styles/root.scss";
@forward "@/styles/theme.scss";

  // Global defaults
@use "@/styles/base/reset.scss";
@use "@/styles/base/defaults.scss";

  // Views
@use "@/styles/views/loginView.scss";
@use "@/styles/views/indexView.scss";

  // Components
@use "@/styles/components/toastComponent.scss";
@use "@/styles/components/inputComponent.scss";