@forward "@/styles/root.scss";
@forward "@/styles/theme.scss";
@forward "@/styles/mixins.scss";

  // Global defaults
@use "@/styles/base/reset.scss";
@use "@/styles/base/defaults.scss";

  // Layouts
@use "@/styles/layouts/authLayout.scss";
@use "@/styles/layouts/defaultLayout.scss";

  // Views
@use "@/styles/views/chatView.scss";
@use "@/styles/views/loginView.scss";
@use "@/styles/views/errorView.scss";

  // Components
    // Layout
@use "@/styles/components/layout/chatComponent.scss";
@use "@/styles/components/layout/sidebarComponent.scss";

    // Widgets
      // Sidebar
@use "@/styles/components/widgets/sidebar/sidebarTab.scss";
@use "@/styles/components/widgets/sidebar/sidebarChat.scss";
@use "@/styles/components/widgets/sidebar/sidebarList.scss";
@use "@/styles/components/widgets/sidebar/sidebarSearch.scss";

      // Chat
@use "@/styles/components/widgets/chat/titleComponent.scss";
@use "@/styles/components/widgets/chat/messageComponent.scss";

    // UI
@use "@/styles/components/ui/toastComponent.scss";
@use "@/styles/components/ui/inputComponent.scss";