@forward "@/styles/root.scss";
@forward "@/styles/theme.scss";
@forward "@/styles/mixins.scss";

  // Global defaults
@use "@/styles/base/reset.scss";
@use "@/styles/base/defaults.scss";

  // Layouts
@use "@/styles/layouts/authLayout.scss";
@use "@/styles/layouts/defaultLayout.scss";

  // Views
@use "@/styles/views/chatView.scss";
@use "@/styles/views/loginView.scss";
@use "@/styles/views/errorView.scss";

  // Components
    // Layout
@use "@/styles/components/layout/chatComponent.scss";
@use "@/styles/components/layout/sidebarComponent.scss";

    // Widgets
      // Sidebar
@use "@/styles/components/widgets/sidebar/sidebarTab.scss";
@use "@/styles/components/widgets/sidebar/sidebarChat.scss";
@use "@/styles/components/widgets/sidebar/sidebarList.scss";
@use "@/styles/components/widgets/sidebar/sidebarSearch.scss";

      // Chat
@use "@/styles/components/widgets/chat/chatInput.scss";
@use "@/styles/components/widgets/chat/chatTitle.scss";
@use "@/styles/components/widgets/chat/chatMessage.scss";
@use "@/styles/components/widgets/chat/chatWrapper.scss";

    // UI
      // Base
@use "@/styles/components/ui/base/baseInput.scss";
@use "@/styles/components/ui/base/baseButton.scss";

      // Global
@use "@/styles/components/ui/inputComponent.scss";
@use "@/styles/components/ui/toastComponent.scss";