:root {
  --accent: #12D6DF;
  --surface-1: #F2F3F5;
  --surface-2: #FFFFFF;
  --surface-3: #DDE2E8;
  --surface-4: #F6F7F9;
  --surface-5: #9B9EA2;
  --surface-6: linear-gradient(135deg, #F6F6F8, #F4F4F6);
  --surface-7: #FFFFFF;

  &.dark, &[data-theme="dark"] {
    --accent: #12D6DF;
    --surface-1: #F2F3F5;
    --surface-2: #FFFFFF;
    --surface-3: #DDE2E8;
    --surface-4: #F6F7F9;
    --surface-5: #9B9EA2;
    --surface-6: linear-gradient(135deg, #F6F6F8, #F4F4F6);
    --surface-7: #212121;
  }
}