$accent: var(--accent);
$error: var(--error);
$warning: var(--warning);
$success: var(--success);
$globalBG: var(--surface-1);

$buttonBG: var(--surface-2);
$buttonHover: var(--accent);
$buttonBorder: var(--surface-3);
$buttonDisabledBG: var(--surface-4);
$buttonHoverBorder: var(--surface-5);

$inputBG: var(--surface-2);
$inputHover: var(--accent);
$inputBorder: var(--surface-3);
$inputDisabledBG: var(--surface-4);
$inputHoverBorder: var(--surface-5);

$loginBG: var(--surface-6);
$loginBorder: var(--surface-2);

$sidebarBG: var(--surface-7);
$sidebarUserHover: var(--surface-8);

$toastBG: var(--accent);
$toastBorder: var(--surface-3);
$toastErrorBorder: var(--error);
$toastWarningBorder: var(--warning);
$toastSuccessBorder: var(--success);

$chatBG: var(--surface-6);