$accent: var(--accent);
$globalBG: var(--surface-1);

$buttonBG: var(--surface-2);
$buttonHover: var(--accent);
$buttonBorder: var(--surface-3);
$buttonDisabledBG: var(--surface-4);
$buttonHoverBorder: var(--surface-5);

$inputBG: var(--surface-2);
$inputHover: var(--accent);
$inputBorder: var(--surface-3);
$inputDisabledBG: var(--surface-4);
$inputHoverBorder: var(--surface-5);