@use "@/styles/theme.scss" as theme;

.sidebar {
  background: theme.$sidebarBG;

  header {
    width: 100%;
    padding: 0.5rem 0.8rem;
    position: relative;
    box-sizing: border-box;

    .search {}

    nav {}
  }

  main {
    height: 100%;
    padding: 0.5rem;
    overflow: hidden;

    ul {
      gap: 1rem;
      display: flex;
      padding: 0 0.3rem;
      box-sizing: border-box;
      flex-direction: column;

      li {
        cursor: pointer;
        padding: 1rem 0.5rem;
        box-sizing: border-box;
        border-radius: 0.5rem;

        &:hover {
          background: theme.$sidebarChatHover;
        }
      }
    }
  }
}