@use "@/styles/variables.scss" as tokens;

.sidebar {
  height: 100dvh;
  display: flex;
  color: tokens.$foreground;
  flex-direction: column;
  background: tokens.$sidebar;
  border-right: 1px solid tokens.$border;

  header {
    width: 100%;
    padding: 0.5rem 0.8rem;
    position: relative;
    flex-shrink: 0;
    border-bottom: 1px solid tokens.$border;

    nav {}
  }

  main {
    flex: 1 1 auto;
    padding: 0.5rem;
    overflow: hidden;
  }

  .sidebarSearchResults {
    height: 100%;
    overflow: hidden;

    > p {
      color: tokens.$muted-foreground;
      padding: 1rem 0.8rem;
    }
  }
}
