@use "@/styles/theme.scss" as theme;

.sidebar {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background: theme.$sidebarBG;

  header {
    width: 100%;
    padding: 0.5rem 0.8rem;
    position: relative;
    flex-shrink: 0;

    nav {}
  }

  main {
    flex: 1 1 auto;
    padding: 0.5rem;
    overflow: hidden;
  }
}