@use "@/styles/theme.scss" as theme;

.sidebar {
  height: 100%;
  background: theme.$sidebarBG;

  header {
    width: 100%;
    padding: 0.375rem 0.8125rem 0.5rem;
    position: relative;
    box-sizing: border-box;

    .search {}

    nav {}
  }

  main {
    height: 100%;

    ul {
      gap: 1rem;
      display: flex;
      flex-direction: column;

      li {}
    }
  }
}